<div class="box-select">
    <div class="box-select-container">
        <div class="select-option preview">
            <div class="content">
                <span class="icon icon-red" style="background-color:#c53127;"><img src="/user_assets/images/tron.png" alt="trx" style="margin-top: 5px"></span>
                <p>Tron</p>
            </div>
        </div>
        <!---->
        <div class="box-select-wrapper ps">
            <div class="select">
                <div class="select-option">
                    <div class="content">
                        <span class="icon icon-orange"><img src="/user_assets/images/bitcoin.png" alt="btc"></span>
                        <p>Bitcoin</p>
                    </div>
                </div>
                <div class="select-option">
                    <div class="content">
                        <span class="icon icon-red">PM</span>
                        <p>Perfect Money</p>
                    </div>
                </div>
                <div class="select-option">
                    <div class="content">
                        <span class="icon icon-blue">PR</span>
                        <p>Payeer</p>
                    </div>
                </div>
                <div class="select-option">
                    <div class="content">
                        <span class="icon icon-green"><img src="/user_assets/images/bitcoin_cash.png" alt="bch"></span>
                        <p>Bitcoin Cash</p>
                    </div>
                </div>
                <div class="select-option">
                    <div class="content">
                        <span class="icon"><img src="/user_assets/images/bitcoin_gold.png" alt="btg"></span>
                        <p>Bitcoin Gold</p>
                    </div>
                </div>
                <div class="select-option">
                    <div class="content">
                        <span class="icon"><img src="/user_assets/images/dash.png" alt="dash"></span>
                        <p>Dash</p>
                    </div>
                </div>
                <div class="select-option">
                    <div class="content">
                        <span class="icon" style="background-color:#000;"><img src="/user_assets/images/eos.svg" alt="eos"></span>
                        <p>EOS</p>
                    </div>
                </div>
                <div class="select-option">
                    <div class="content">
                        <span class="icon icon-violet"><img src="/user_assets/images/ethereum.png" alt="eth"></span>
                        <p>Ethereum</p>
                    </div>
                </div>
                <div class="select-option">
                    <div class="content">
                        <span class="icon"><img src="/user_assets/images/ethereum_classic.png" alt="etc"></span>
                        <p>Ethereum Classic</p>
                    </div>
                </div>
                <div class="select-option">
                    <div class="content">
                        <span class="icon icon-gray"><img src="/user_assets/images/litecoin.png" alt="ltc"></span>
                        <p>Litecoin</p>
                    </div>
                </div>
                <div class="select-option">
                    <div class="content">
                        <span class="icon"><img src="/user_assets/images/ripple.svg" alt="xrp"></span>
                        <p>Ripple</p>
                    </div>
                </div>
                <div class="select-option selected">
                    <div class="content">
                        <span class="icon icon-red" style="background-color:#c53127;"><img src="/user_assets/images/tron.png" alt="trx" style="margin-top: 5px"></span>
                        <p>Tron</p>
                    </div>
                </div>
                <div class="select-option">
                    <div class="content">
                        <span class="icon"><img src="/user_assets/images/zcash.png" alt="zec"></span>
                        <p>Zcash</p>
                    </div>
                </div>
            </div>
            <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
                <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
            </div>
            <div class="ps__rail-y" style="top: 0px; right: 0px; height: 300px;">
                <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 125px;"></div>
            </div>
        </div>
    </div>
</div>
